.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  /* padding: 50px; */
}

/* 음악 정보 */
.music__info__wrapper,
.music__introduce__wrapper,
.lyrics__wrapper {
  /* border: 3px solid red; */
  border: none;
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 20px;
}

.wrapper__inner {
  display: flex;
  margin-top: 40px;
}
.music__info__wrapper .wrapper__inner {
  gap: 230px;
  /* border: 1px solid red; */
}

.info__inner__middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: red; */
}
.info__inner__middle div:first-child {
  font-size: 19px;
  font-weight: 600;
}

.info__inner__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid pink; */
}
.info__inner__right div span {
  margin-left: 30px;
  /* border: 1px solid black; */
}
.info__inner__right div a {
  margin-left: 30px;
  /* border: 1px solid black; */
}
