.container {
  display: grid;

  height: 100vh;
  grid-template-areas:
    "header header"
    "header main";
}
.header__side {
  grid-area: header;
}
.main__page {
  padding: 12px 42px 0 48px;
}

.side__open {
  margin-left: 250px;
  width: calc(100% - 250px);
}
.side__close {
  margin-left: 100px;
}
