/* 공통 */
.container {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  /* border: 3px solid blue; */
}
.divided__section {
  margin-bottom: 40px;
  border: 1px solid red;
}
.divided__section:last-child {
  margin-bottom: 0;
}
.section__title{
  border: 1px solid green;
}


/* 최신 음악 */
.new__section{
  display: flex;
  align-items: center;
  gap: 50px;
}

/* 인기차트 + 인기 아티스트 */
.music__section {
  display: flex;
  justify-content: space-between;
}

/* .music__section .section__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
} */

.music__section__left {
  width: 40%;
}
.music__section__right {
  width: 30%;

}



/* 커뮤니티 부분 */
.community__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 150px; */
  justify-content: space-between;
  /* border: 1px solid red; */
}


/* 
.new__section,
.music__section__title,
.music__section,
.community__section {
  margin-bottom: 20px;
}

.music__section {
  display: flex;
  justify-content: space-between;
}

.music__section__left,
.music__section__right {
  flex: 1;
  margin: 0 10px;
}

.community__section {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .music__section,
  .community__section {
    flex-direction: column;
  }

  .music__section__left,
  .music__section__right {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .music__section__title h2,
  .music__section__title h6 {
    text-align: center;
  }

  .new__section,
  .music__section__title,
  .community__section {
    margin-bottom: 10px;
  }
} */
