.container {
    width: 100%;
    padding: 20px;
    /* margin-left: 150px; */
    /* border: 3px solid blue; */
  }
  
  .play__option__wrapper {
   margin-top: 25px;
  }

  .play__option {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .play__option button {
    border: none;
    background-color: aliceblue;
    border-radius: 18px;
    padding: 0 10px 0;
  }