.container{
    margin: 130px 0 ;
    padding: 40px;
    width: 100%;
    /* height: 800px; */
    min-height: 600px;
    border-radius: 40px;
    background-color: white;
    border: 1px solid rgb(128, 26, 0);

    background-color: #f9f9f9; 
    box-shadow: 0 14px 8px rgba(0, 0, 0, 0.1); 
    /* overflow-y: scroll; */
}

.container__title {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}
.form__container{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.album__container ,
.artist__container ,
.sound__container {
    flex: 1; 
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; 
   
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.album__name, .artist__name,
.ablum__details, .album__picture {
    font-size: x-large;
    display: flex;
    flex-direction: column;
}

.album__container input{
   width: 300px;
}

.button__container{
    margin-top: 30px;
    flex-basis: 100%; /* 버튼이 한 줄을 차지하도록 설정 */
    width: 100%;
    height: 50px;
     text-align: center; /* 버튼을 가운데 정렬 */
}
.button__container button{
    width: 100%;
    height: 100%;
}


.form__container input[type="text"],
.form__container input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
}

.form__container button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007e3b; 
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form__container button[type="submit"]:hover {
    background-color: #c2e6bfdb; 
    color: black;

}