/* page.module.css */
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.music__info__section {
  background-color: #e0f2f1; /* 연한 초록색 */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.music__info__wrap {
  display: flex;
  align-items: center;
}

.album__info__container {
  display: flex;
  align-items: center;
}

.album__img {
  margin-right: 20px;
}

.song__info {
  flex: 1;
}

.title__artist {
  margin-bottom: 10px;
}

.title__artist h1 {
  margin: 0;
  font-size: 24px;
  color: #00796b; /* 텍스트 색상 */
  cursor: pointer; /* 제목 클릭 가능 표시 */
}

.title__artist h2 {
  margin: 0;
  font-size: 18px;
  color: #004d40; /* 텍스트 색상 */
}

.btn__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__share {
  display: flex;
  align-items: center;
}

.btn__share span {
  margin-right: 10px;
}

.btn__share a {
  margin-left: 5px;
}

.lyrics__section {
  margin-top: 20px;
}

.music-list-section {
  margin-top: 20px;
}

/* page.module.css */

/* 모달의 기본 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* 모달이 열릴 때 스타일 */
.modal.open {
  visibility: visible;
  opacity: 1;
}

/* 모달 콘텐츠의 스타일 */
.modal__content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 60%; /* 모달의 너비를 더 작게 설정 */
  max-width: 400px; /* 최대 너비 설정 */
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 모달 닫기 버튼의 스타일 */
.close__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f44336;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
}



/* 수록곡 부분 */

/* 전체재생 or 선택재생 버튼 컨테이너 */
.play__option__container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.play__option__container button {
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: rgb(183, 232, 177);
  border-radius: 13px;
  padding: 3px 10px;
}

/* 차트 Table 컨테이너 */
.music__chart__container {
  margin-top: 30px;
  padding: 20px 0;
  /* border: 1px solid pink; */
}
.table__container {
  width: 100%;
  text-align: left; /*왼쪽 정렬*/
  border-collapse: collapse; /*td간 간격 제거*/
  /* border: 1px solid black; */
}

/* 테이블 헤더 blind 처리 */
.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 각 td에 padding-top padding-bottom 동일하게 적용*/
.table__row tr td {
  padding-bottom: 20px;
  padding-top: 20px;
}
.table__row tr td:first-child {
  padding-right: 50px;
}
.table__row tr td:last-child {
  padding-right: 50px;
}
.table__row tr {
  border-bottom: 1px solid rgb(194, 190, 190);
}
.table__row tr:last-child {
  border-bottom: none;
}
.table__row tr td,
.table__row tr th {
  padding-right: 0;
}