html {
  background-color: black;
  color: white;
  font-family: "esamanru Bold";
}

/* 이사 만루 폰트 bold */
@font-face {
  font-family: "esamanru Bold";
  font-weight: 400;
  src: url("../public/fonts/esamanru\ Bold.ttf") format("truetype");
}
